[core]
	autocrlf = input
	pager = cat
[user]
	name = Ozren Dabić
	email = {{ .email | quote }}
	signingkey ={{ .signingkey | quote }}
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
