# Enable the subsequent settings only in interactive sessions
case $- in
  *i*) ;;
    *) return;;
esac

# Path to your oh-my-bash installation.
export OSH="$HOME"/.oh-my-bash

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-bash is loaded.
OSH_THEME="agnoster"

# If you set OSH_THEME to "random", you can ignore themes you don't like.
OMB_THEME_RANDOM_IGNORED=()

# Use case-sensitive completion.
OMB_CASE_SENSITIVE="false"

# Hyphen-insensitive completion. Case sensitive completion must be off.
# _ and - will be interchangeable.
OMB_HYPHEN_SENSITIVE="true"

# Disable auto-update checks.
DISABLE_AUTO_UPDATE="false"

# Change how often to auto-update (in days).
export UPDATE_OSH_DAYS=30

# Disable colors in ls.
DISABLE_LS_COLORS="false"

# Disable auto-setting terminal title.
DISABLE_AUTO_TITLE="true"

# Enable command auto-correction.
ENABLE_CORRECTION="false"

# Display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="false"

# Disable marking untracked files under Git VCS as dirty.
# This makes repository status check for large repositories much, much faster.
DISABLE_UNTRACKED_FILES_DIRTY="false"

# Disable marking untracked files under SCM VCS as dirty.
# This makes repository status check for large repositories much, much faster.
SCM_GIT_DISABLE_UNTRACKED_DIRTY="false"

# Uncomment the following line if you want to completely ignore
# the presence of untracked files in the repository.
SCM_GIT_IGNORE_UNTRACKED="false"

# Commands to ignore when keeping track of history.
HISTIGNORE="&:[bf]g:cd:clear:exit:history:ls:mount:pwd:umount:[ \t]*"

# Destination file for storing the history.
HISTFILE="$HOME/.bash_history"

# Maximum number of events stored in the internal history list.
HISTSIZE=500000

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.  One of the following values can
# be used to specify the timestamp format.
# * "mm/dd/yyyy"   # mm/dd/yyyy + time
# * "dd.mm.yyyy"   # dd.mm.yyyy + time
# * "yyyy-mm-dd"   # yyyy-mm-dd + time
# * "[mm/dd/yyyy]" # [mm/dd/yyyy] + [time] with colors
# * "[dd.mm.yyyy]" # [dd.mm.yyyy] + [time] with colors
# * "[yyyy-mm-dd]" # [yyyy-mm-dd] + [time] with colors
# If not set, the default value is "yyyy-mm-dd".
HIST_STAMPS="[yyyy-mm-dd]"

# Uncomment the following line if you do not want OMB to overwrite the existing
# aliases by the default OMB aliases defined in lib/*.sh
# OMB_DEFAULT_ALIASES="check"

# To disable the uses of "sudo" by oh-my-bash, please set "false" to
# this variable. The default behavior for the empty value is "true".
OMB_USE_SUDO="true"

# To enable/disable display of Python virtualenv and condaenv
OMB_PROMPT_SHOW_PYTHON_VENV="true"

# Which completions would you like to load?
# Standard completions can be found in $OSH/completions/
# Custom completions may be added to $OSH/custom/completions/
# Add wisely, as too many completions slow down shell startup.
completions=(
  brew
  chezmoi
  docker
  docker-compose
  gh
  git
  git_flow
  gradle
  maven
  npm
  nvm
  pip3
  pip
  ssh
  tmux
)

# Which aliases would you like to load?
# Standard aliases can be found in $OSH/aliases/
# Custom aliases may be added to $OSH/custom/aliases/
# Add wisely, as too many aliases slow down shell startup.
aliases=(general)

# Which plugins would you like to load?
# Standard plugins can be found in $OSH/plugins/
# Custom plugins may be added to $OSH/custom/plugins/
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  brew
  chezmoi
  git
  npm
  nvm
  pyenv
)

# Which plugins would you like to conditionally
# Standard plugins can be found in $OSH/plugins/
# Custom plugins may be added to $OSH/custom/plugins/
# Example format:
#  if [ "$DISPLAY" ] || [ "$SSH" ]; then
#      plugins+=(tmux-autoattach)
#  fi

source "$OSH"/oh-my-bash.sh

# User configuration

export MANPATH="$(manpath):/usr/local/man"
if [ -x "$(command -v brew)" ]; then
  export BREW_PATH=$(brew --prefix)
fi

# Language and locale
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
{{ if .work }}
  export EDITOR="fleet --wait"
{{ else }}
  export EDITOR="codium --wait -n"
{{ end }}
fi


# Compilation flags
export ARCHFLAGS="-arch $(uname -m)"

# Set personal aliases, overriding those provided by oh-my-bash libs,
# plugins, and themes. Aliases can be placed here, though oh-my-bash
# users are encouraged to define aliases within the OSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# GPG Settings
export GPG_TTY=$(tty)

# Default User
export DEFAULT_USER=$(whoami)
